##### Import Necessary Libraries

In [2]:
import datetime as dt
from dateutil.relativedelta import relativedelta
from SynopticDB import SynopticDB

##### Note

Any line seen below that has a double hashtag indicates that if you remove the hashtags, it can be run

##### Initialize the Database

In [3]:
# Create database object
#
# If you do not specify a folder name in the SynopticDB() arguments,
# a database file named synDB.db will be automoatically created. All database
# components will be stored there
#
db = SynopticDB()
#
# To specify your own folder name, just call it in the argument SynopticDB("fileName")
#
## db = SynopticDB('CA_SYN')
#
# You can also specify a path where you want the database stored
#
## db = SynopticDB('/some/path/dbName')
#

##### Customize Query Parameters

In [3]:
# By default, you can run the get_synData function and it will insert all of the data from the United States from the past hour into the database.
# You can customize what is retrieved by customizing the query parameters as seen below.
#
# These are all of the possible query parameters you can alter: 
# 'endDatetime', 'startDatetime', 'stationIDs', 'networks', 'minLatitude', 'maxLatitude', 
# 'minLongitude', 'maxLongitude', 'states', 'networks', 'vars', 'makeFile'
#
now = dt.datetime.now()
db.params['startDatetime'] = now - relativedelta(hours=3)
db.params['endDatetime'] = now - relativedelta(hours=2)
##db.params['minLatitude'] = 32
##db.params["maxLatitude"] = 34
##db.params["minLongitude"] = -122
##db.params["maxLongitude"] = -117
##db.params["vars"] = ['air_temp']
## db.init_params() # This will reset the query parameters
# 36 min first run
#

##### Get the Data from Synoptic

In [4]:
db.get_synData()

2023-11-27 14:05:08,067 - INFO - getting data between 2023-11-27 11:05:05.551458 and 2023-11-27 12:05:05.551458

In [7]:
now = dt.datetime.now()
db.params['startDatetime'] = now - relativedelta(hours=35)
db.params['endDatetime'] = now
db.params['vars'] = ['air_temp']
##db.params['networks'] = 1
db.params['states'] = 'CA'
db.params['makeFile'] = False
dfData, dfStations = db.query_db()

##### Look at the Data

In [13]:
dfData.head()

    STID             DATETIME  AIR_TEMP_VALUE AIR_TEMP_UNITS
0  000PG  2023-11-27 11:00:00           0.706        Celsius
1  000PG  2023-11-27 11:10:00           0.239        Celsius
2  000PG  2023-11-27 11:20:00           0.239        Celsius
3  000PG  2023-11-27 11:30:00           0.500        Celsius
4  000PG  2023-11-27 11:40:00           0.778        Celsius

In [12]:
dfStations.head(2)

,STID,NAME,STATE,LATITUDE,LONGITUDE,ELEVATION,ELEVATION_UNITS,LAST_ACTIVE,NETWORK_ID
0,000PG,Southside Road,CA,36.78921,-121.33943,424.0,ft,2023-11-27 21:20:00,229
1,000SE,SCE South Hills Park,CA,34.11814,-117.85520,797.0,ft,2023-11-27 21:20:00,231

##### Look at the Database MetaData

In [13]:
db.check_table('Networks')

,NETWORK_ID,NETWORK_NAME_SHORT,NETWORK_NAME_LONG
0,1,ASOS/AWOS,ASOS/AWOS
1,2,RAWS,Interagency Remote Automatic Weather Stations
2,3,DUGWAY,U.S. Army Dugway Proving Grounds
3,4,UTAH DOT,Utah Department of Transportation
4,5,ARL FRD,NOAA Air Resources Laboratory Field Research D...
...,...,...,...
333,3024,UMRB-SDSU,Upper Missouri River Basin - South Dakota Stat...
334,3025,UMRB-UMT,Upper Missouri River Basin - University of Mon...
335,3026,UMRB-UNL,Upper Missouri River Basin - University of Neb...
336,3027,UMRB-UWYO,Upper Missouri River Basin - University of Wyo...
337,3028,MDE,Maryland Department of the Environment

In [10]:
db.check_table('Stations')

,STID,NAME,STATE,LATITUDE,LONGITUDE,ELEVATION,ELEVATION_UNITS,LAST_ACTIVE,NETWORK_ID
0,WBB,U of U William Browning Building,UT,40.76623,-111.84755,4806.00,ft,2023-11-27 21:20:00,153
1,SNHUT,SANDY HOREL/U UTAH,UT,40.55260,-111.85110,4757.00,ft,2007-01-11 23:15:00,8
2,HOL,North Holladay,UT,40.67560,-111.82590,4600.00,ft,2023-11-27 21:15:00,153
3,SNC,PARK CITY MUN G.C.,UT,40.66000,-111.51490,6855.00,ft,2019-11-20 17:00:00,8
4,SNZ,BOUNTIFUL/F G HOUSE,UT,40.87540,-111.87160,4760.00,ft,2014-10-06 22:55:00,8
...,...,...,...,...,...,...,...,...,...
82412,SYN91182,SYN91182,HI,21.35000,-157.93333,6.56,ft,None,299
82413,SYN91190,SYN91190,HI,20.90000,-156.43333,59.05,ft,None,299
82414,SYN91165,SYN91165,HI,21.99333,-159.34667,105.97,ft,None,299
82415,SYN91765,SYN91765,AS,-14.33833,-170.71917,18.05,ft,None,299
82416,SYN91212,SYN91212,GU,13.47667,144.79444,247.38,ft,None,299