##### Import Necessary Libraries

In [1]:
import datetime as dt
from dateutil.relativedelta import relativedelta
from SynopticDB import SynopticDB

/Users/jackdrucker/opt/anaconda3/envs/synoptic/lib/python3.11/site-packages/synoptic/__init__.py:39: UserWarning: Could not import synoptic.accessors
  warnings.warn("Could not import synoptic.accessors")

##### Note

Any line seen below that has a double hashtag indicates that if you remove the hashtags, it can be run

##### Initialize the Database

In [2]:
# Create database object
#
# If you do not specify a folder name in the SynopticDB() arguments,
# a database file named synDB.db will be automoatically created. All database
# components will be stored there
#
db = SynopticDB()
#
# To specify your own folder name, just call it in the argument SynopticDB("fileName")
#
## db = SynopticDB('CA_SYN')
#
# You can also specify a path where you want the database stored
#
## db = SynopticDB('/some/path/dbName')
#

##### Customize Query Parameters

In [3]:
# By default, you can run the get_synData function and it will insert all of the data from the United States from the past hour into the database.
# You can customize what is retrieved by customizing the query parameters as seen below.
#
# These are all of the possible query parameters you can alter: 
# 'endDatetime', 'startDatetime', 'stationIDs', 'networks', 'minLatitude', 'maxLatitude', 
# 'minLongitude', 'maxLongitude', 'states', 'networks', 'vars', 'makeFile'
#
now = dt.datetime.now()
db.params['startDatetime'] = now - relativedelta(hours=3)
db.params['endDatetime'] = now - relativedelta(hours=2)
##db.params['minLatitude'] = 32
##db.params["maxLatitude"] = 34
##db.params["minLongitude"] = -122
##db.params["maxLongitude"] = -117
##db.params["vars"] = ['air_temp']
## db.init_params() # This will reset the query parameters
# 36 min first run
#

##### Get the Data from Synoptic

In [4]:
db.get_synData()

2023-11-27 14:05:08,067 - INFO - getting data between 2023-11-27 11:05:05.551458 and 2023-11-27 12:05:05.551458

In [3]:
now = dt.datetime.now()
db.params['startDatetime'] = now - relativedelta(hours=2)
db.params['endDatetime'] = now
db.params['vars'] = ['air_temp']
##db.params['networks'] = 1
db.params['states'] = 'CA'
db.params['makeFile'] = False
dfData, dfStations = db.query_db()

None

SynopticError: No data was found in the database with the given parameters

In [13]:
db.check_table('Networks')

,NETWORK_ID,NETWORK_NAME_SHORT,NETWORK_NAME_LONG
0,1,ASOS/AWOS,ASOS/AWOS
1,2,RAWS,Interagency Remote Automatic Weather Stations
2,3,DUGWAY,U.S. Army Dugway Proving Grounds
3,4,UTAH DOT,Utah Department of Transportation
4,5,ARL FRD,NOAA Air Resources Laboratory Field Research D...
...,...,...,...
333,3024,UMRB-SDSU,Upper Missouri River Basin - South Dakota Stat...
334,3025,UMRB-UMT,Upper Missouri River Basin - University of Mon...
335,3026,UMRB-UNL,Upper Missouri River Basin - University of Neb...
336,3027,UMRB-UWYO,Upper Missouri River Basin - University of Wyo...
337,3028,MDE,Maryland Department of the Environment